html {
  min-height: 100%;
  background-color: #2f3243;
  min-width: 360px; }

body {
  margin: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  background-color: #2f3243;
  color: white; }

h1 {
  color: #40b1d1;
  display: inline; }

img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  float: left;
  display: inline;
  margin-right: 10px;
  margin-top: -5px; }

button {
  color: white;
  background-color: #40b1d1;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  width: 125px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 25px;
  margin-top: 40px;
  display: block; }

input {
  background-color: #3a3f53;
  border-bottom: 1px #40b1d1 solid;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  width: 150px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input:hover, input:focus {
  border-bottom: 1px #ffd07b solid;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

label {
  margin-left: -35px; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 98%;
  padding: 0 1%; }

.sugar-wrap, .password-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.interact, .display {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
  padding: 1%; }

.interact {
  background-color: #3a3f53; }

.sugar-wrap ul, .password-wrap ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  list-style: none; }

.display {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #3a3f53; }

.display ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%; }
  .display ul li {
    height: 50px;
    padding: 5px 0px;
    text-align: left;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .display ul li:hover {
    background-color: #7c7f92; }
  .display ul li:hover > em {
    font-size: 30px; }
  .display ul li:first-child {
    font-weight: bold;
    color: #40b1d1;
    margin-top: 18px; }

.display ul li strong, .display ul li em, .display ul li i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center; }

i {
  color: #1ccad8;
  padding: 0px 10px;
  font-weight: bold; }

strong {
  color: white;
  width: 90px; }

em {
  color: #ffd07b;
  font-weight: bold;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50px;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

strong {
  margin-left: 20px;
  text-align: center; }

@media screen and (max-width: 840px) {
  .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .interact, .display {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%; }
  .interact {
    padding-top: 2%;
    margin-top: 2%; }
  .display {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: #3a3f53;
    border-left: none; }
  .display ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .display ul li {
      margin-right: 30px; }
  .sugar-wrap ul, .password-wrap ul {
    max-width: 80%; } }
