//color set1
$bg: #2f3243
$lookatme: #3a3f53
$select: #282b3a
$highlight: #40b1d1
$underlight: #7c7f92

$goldenrod: #b1740f
$topaz: #ffd07b

$flowerblue: #2f97c1
$cerrilean: #1ccad8



html
    min-height: 100%
    background-color: $bg
    min-width: 360px

body
    margin: 0
    width: 100%
    font-family: 'Lato', sans-serif
    min-height: 100%
    background-color: $bg
    color: white
h1
    color: $highlight
    display: inline
img
    width: 50px
    height: 50px
    border-radius: 10%
    float: left
    display: inline
    margin-right: 10px
    margin-top: -5px
button
    color: white
    background-color: $highlight
    border-radius: 2px
    box-shadow: none
    border: none
    width: 125px
    height: 40px
    font-weight: bold
    font-size: 15px
    margin-left: 25px
    margin-top: 40px
    display: block

input
    background-color: $lookatme
    border-bottom: 1px $highlight solid
    border-top: none
    border-right: none
    border-left: none
    color: white
    width: 150px
    transition: all 200ms ease-in-out
    appearance: none
input:hover, input:focus
    border-bottom: 1px $topaz solid
    border-top: none
    border-right: none
    border-left: none
    outline: none
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin: 0

label
    margin-left: -35px
.wrap
    display: flex
    justify-content: center
    align-items: stretch
    width: 98%
    padding: 0 1%
    //flex: 0 1 95%
.sugar-wrap, .password-wrap
    display: flex
    justify-content: flex-start
    flex-direction: column

.interact, .display
    flex: 0 1 36%
    padding: 1%
.interact
    background-color: $lookatme


.sugar-wrap ul, .password-wrap ul
    display: inline-flex
    justify-content: space-between
    align-items: stretch
    flex-direction: row
    text-decoration: none
    list-style: none

.display
    align-items: stretch
    background-color: $lookatme

.display ul
    display: flex
    justify-content: flex-start
    align-items: baseline
    flex-direction: column
    flex: 0 1 48%
    //max-width: 300px

    li
        height: 50px
        padding: 5px 0px
        text-align: left
        list-style: none
        display: flex
        align-items: center
        transition: all 200ms ease-in-out
        justify-content: center

    li:hover
        background-color: $underlight
    li:hover > em
        font-size: 30px

    li:first-child
        font-weight: bold
        color: $highlight
        margin-top: 18px

.display ul li
    strong, em, i
        display: inline-flex
        text-align: center
i
    color: $cerrilean
    padding: 0px 10px
    font-weight: bold
strong
    color: white
    width: 90px

em
    color: $topaz
    font-weight: bold
    font-size: 25px
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 50px
    text-align: center
    transition: all 200ms ease-in-out

strong
    margin-left: 20px
    text-align: center



@media screen and (max-width: 840px)
    .wrap
        flex-direction: column
    .interact, .display
        flex: 0 1 60%
    .interact
        padding-top: 2%
        margin-top: 2%
    .display
        align-items: stretch
        background-color: $lookatme
        border-left: none
    .display ul
        display: flex
        align-items: center
        li
            margin-right: 30px

    .sugar-wrap ul, .password-wrap ul
        max-width: 80%
