.wrap
    .interact
        img(src="img/darkblue.png" for="h1")
        h1 BG recording
        .sugar-wrap
            ul
                li
                    label(for="bg") What's you BG?
                li 
                    input#bg(type="number" data-mask="000")

            .button-wrap
                button(onclick="insertLevels()") Insert Levels
    .display
        ul
            li
